/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #e52d27, #b31217, #6a11cb, #2575fc);
    color: #fff;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #dcdcdc;
  }